.book-page {
    grid-area: book-page;
    background-color: #2D66EE;
    color: #FFFFFF;
    display: flex;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../../../img/img-itwebsite/dots-back.png');
        opacity: 0.3;
        mix-blend-mode: overlay; 
    }

    svg {
        position: absolute;
        width: 1440px;
        height: 258.13px;
        margin: 165px 0;
        opacity: 0.7;
    }

    .book-contacts {
        margin: 80px 108px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 600px;

        .book-form {
            z-index: 1;
            background-color: #FFFFFF;
            border-radius: 12px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
            height: 284px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 24px;
            color: #101828;
            align-items: flex-end;

            .book-form-contacts {
                width: 552px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

                .form-contact {
                    width: 264px;

                    label {
                        font-size: 13px;
                        font-weight: 500;
                        color: #667085;
                    }

                    input {
                        border: none;
                        border-bottom: 1px solid rgb(183, 182, 182);
                        padding: 8px 0;
                        font-size: 17px;
                        font-weight: 400;
                    }

                    input::placeholder {
                        color: #101828;
                    }
                }
            }

            .form-contact {
                width: 552px;

                label {
                    font-size: 13px;
                    font-weight: 500;
                    color: #667085;
                }

                input {
                    border: none;
                    width: 100%;
                    border-bottom: 1px solid rgb(183, 182, 182);
                    padding: 8px 0;
                    font-size: 17px;
                    font-weight: 400;
                }

                input::placeholder {
                    color: #101828;
                }
            }

            button {
                width: 225px;
                height: 40px;
                border-radius: 8px;
                border: none;
                background-color: #2D66EE;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 500;
                text-align: center;
                padding: 11px 24px;
            }
        }
    }

    img {
        z-index: 1;
        width: 344px;
        height: 520px;
        margin: 46px 40px;
    }

    @media (max-width: 768px) {

        svg {
            opacity: 0;
        }

        .book-contacts {
            margin: 76px 76px;
            width: 455px;

            .book-form {
                width: 335px;
                height: 431px;
                gap: 60px;
                align-items: flex-start;
                padding: 32px;

                .book-form-contacts {
                    width: 271px;
                    flex-direction: column;
                    gap: 60px;

                    .form-contact {
                        width: 271px;
                    }
                }

                .form-contact {
                    width: 271px;
                }
            }
        }

        img {
            width: 283px;
            height: 428px;
            margin: 185px -150px;
        }

        @media (max-width: 425px) {

            .book-contacts {
                margin: 49px 48px;
                width: 333px;
                gap: 320px;
            }

            img {
                position: absolute;
                width: 160px;
                height: 242px;
                margin: 161px 130px;
                margin-bottom: 0;
            }
        }
    }
}