body {
    background-image: url('/assets/style/img/sky.jpg');
    color: rgb(255, 216, 124);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
/* Block Wrapper */
.tic-tac-toe-wrapper {
    max-width: 532px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin: 100px auto;
    padding: 16px;
    font-size: 12px;
}

.tic-tac-toe-wrapper button {
    width: 200px;
    height: 50px;
    background-color: rgb(255, 216, 124);
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}


@media (min-width: 576px) {
    .tic-tac-toe-wrapper {
        font-size: 16px;
    }
}

.tic-tac-toe-inner {
    width: 100%;
}
    
/* Game */
.tic-tac-toe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .5em;
    padding: .5em;
    border: 1px solid black;
    aspect-ratio: 1;
}

.tic-tac-toe__ceil {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 4em;
    
}

.tic-tac-toe__ceil.sun-move {
    background-image: url('../style/img/sun.png');
    background-size: 100% 100%;
}

.tic-tac-toe__ceil.moon-move {
    background-image: url('../style/img/moon.png');
    background-size: 100% 100%;
}

/* Current move */
.tic-tac-toe__current-move {
    font-size: 2em;
}