@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
@import "./components/index.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.snakeHead {
    background-color: rgb(20, 110, 29);
}


.snakeBody {
    background-color: rgb(76, 131, 80);
}

.food {
    background-color: rgb(163, 38, 38); 
}